* {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
  }

div {
    border: 1px solid #d5d5d5;
    padding: 50px;
    text-align: center;
}

span {
    font-weight: bold;
}

a {
    font-size: 14px;
    color: #f5f5f5;
    background-color: #49B970;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 190px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
    width: 930px;
    margin: 15px auto 30px auto;
}